* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-image: url('../imgs/space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.logo {
    width: 10%;
    height: auto;
}

nav a, #navbarContent a, .tiger-gold {
    color: #FDB913;
}

.showcase {
    margin-bottom: 4em;
    margin-top: 5em;
}

.class {
    width: 75%;
    height: auto;
}

.contact-method {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.form-control:active, .form-control:focus {
outline: none;
-webkit-box-shadow: none;
box-shadow: none; }

#calendar {
max-width: 900px;
margin: 0 auto; }
#calendar .fc-view-container {
    padding: 30px;
    background-color: #63656a;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2); }

.fc-right .fc-prev-button, .fc-right .fc-next-button, .fc-right .fc-prev-button:active, .fc-right .fc-prev-button:visited {
background-image: none;
background-color: #63656a;
border-color: #000;
}

.fc-right .fc-today-button, .fc-right .fc-today-button:disabled, .fc-right .fc-today-button:hover, .fc-right .fc-prev-button:hover, .fc-right .fc-next-button:hover {
background-image: none;
background-color: #FDB913;;
border-color: #000;
}

.fc-unthemed td.fc-today {
    background-image: none;
    background-color: #FDB913;
}

.flex-even {
    flex: 1;
}

.card-body a {
    transition: all 0.3s ease;
}

.card-body a:hover {
    color: #FFF;
}

.card-img-top {
    width: 500px;
    height: 250px;
}


@media screen and (max-width: 900px) {
    .card-img-top {
        width: 300px;
        height: 150px;
    }
}