* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-image: url('../imgs/space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.logo {
    width: 10%;
    height: auto;
}

nav a, #navbarContent a, .tiger-gold {
    color: #FDB913;
}

.showcase {
    margin-bottom: 4em;
    margin-top: 5em;
}

.about_us__image {
    width: 75%;
    height: auto;
}

.contact-method {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.form-control:active, .form-control:focus {
outline: none;
-webkit-box-shadow: none;
box-shadow: none; }

#calendar {
max-width: 900px;
margin: 0 auto; }
#calendar .fc-view-container {
    padding: 30px;
    background-color: #63656a;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2); }

.fc-right .fc-prev-button, .fc-right .fc-next-button, .fc-right .fc-prev-button:active, .fc-right .fc-prev-button:visited {
background-image: none;
background-color: #63656a;
border-color: #000;
}

.fc-right .fc-today-button, .fc-right .fc-today-button:disabled, .fc-right .fc-today-button:hover, .fc-right .fc-prev-button:hover, .fc-right .fc-next-button:hover {
background-image: none;
background-color: #FDB913;;
border-color: #000;
}

.fc-unthemed td.fc-today {
    background-image: none;
    background-color: #FDB913;
}

.flex-even {
    flex: 1;
}

.card {
    width: 400px;
}

.card-body a {
    transition: all 0.3s ease;
}

.card-body a:hover {
    color: #FFF;
}

.card-img-top {
    width: 400px;
    height: 250px;   
}
      
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color:black;
    font-weight: bold;
    background-color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 25%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 10s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


/* MEDIA QUERIES */
/* Mobile */
@media screen and (max-width: 460px) {
    .text {font-size: 11px}
}

/* Tablet and Down */
@media screen and (max-width: 900px) {
    .card {
        width: 300px;
    }
    .card-img-top {
        width: 300px;
        height: 190px;
    }
}