<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Editable Title -->
    <title>
        {% block title %} {% endblock %}
    </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Full Calendar CSS -->
    <link href="{{ url_for('static', filename='fullcalendar/packages/core/main.css') }}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='fullcalendar/packages/daygrid/main.css') }}" rel='stylesheet'>
</head>


<body>

    <!-- Header Section -->
    <header>
        <!-- Navigation -->
        <nav class="navbar navbar-dark navbar-expand-md bg-dark bg-gradient">
            <div class="container-fluid">
                <a href="{{ url_for('index') }}" class="navbar-brand text-gold">
                    <img src="{{ url_for('static', filename='imgs/moonlogo.gif') }}" alt="Spinning Moon" class="d-inline-block me-2 logo align-middle">
                    <span class="tiger-gold d-none d-lg-inline">FHSU Astronomy Club</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center flex-column flex-lg-row" id="navbarContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 text-center flex-grow-1">
                        <li class="nav-item mt-2 me-lg-5">
                            <span class="tiger-gold d-sm-block d-md-none">FHSU Astronomy Club<hr></span>
                            
                        </li>
                        <li class="nav-item me-lg-5">
                            <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item me-lg-5">
                            <a href="{{ url_for('events') }}" class="nav-link">Events</a>
                        </li>
                        <li class="nav-item me-lg-5">
                            <a href="{{ url_for('gallery') }}" class="nav-link">Gallery</a>
                        </li>
                        <li class="nav-item me-lg-5">
                            <a href="https://tigerlink.fhsu.edu/organization/astronomyclub" target="_blank" class="nav-link">TigerLink</a>
                        </li>
                        <li class="nav-item me-lg-5">
                            <a href="{{ url_for('aboutus') }}" class="nav-link">About Us</a>
                        </li>
                    </ul>
                    <!-- Display Admin Panel Link and Logout Button if Logged In -->
                    {% if session['loggedIn'] %}
                    <div class="align-self-center align-self-lg-end flex-grow">
                        <a href="{{ url_for('admin') }}" class="navbar-brand">
                            <button type="button" class="btn btn-outline-warning">Admin Panel</button>
                        </a>
                        <a href="{{ url_for('logout') }}" class="navbar-brand">
                            <button type="button" class="btn btn-outline-danger">Logout</button>
                        </a>
                    </div>
                    <!-- Otherwise show Log In Button -->
                    {% else %}
                    <div class="nav-item me-lg-5 align-self-center align-self-lg-end flex-grow">
                        <a href="{{ url_for('login') }}" class="navbar-brand">
                            <button type="button" class="btn btn-outline-warning">Admin Login</button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <br>
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endwith %}
    </header>

    <!-- Main Section (Page Content) -->
    <main>
        {% block content %}

        {% endblock %}
    </main>


    <!-- JQuery  -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>


<!-- Footer -->
<footer>

</footer>


</html>