<!-- Include Base Template -->
{% extends 'base.html' %}

<!-- Title Block -->
{% block title %}
FHSU Astronomy Club | Gallery Manager
{% endblock %}

<!-- Main Content -->
{% block content %}
<div class="container-fluid">
    <div class="p-5 bg-dark bg-gradient border border-warning rounded-3 text-center text-white">
        <div class="row mb-5">
            <h2>Gallery Manager</h2>
        </div>
        {% from "_formhelpers2.html" import render_field2 %}
        <div class="table-responsive mb-5">
            <table class="table table-dark">
                <thead>
                    <th scope="col">Image</th>
                    <th scope="col">Image Title</th>
                    <th scope="col">Image Description</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    <!-- For Image in Images Table -->
                    <!-- Form with each value as default -->
                    <!-- Submit Button and Delete Button -->
                    {% for image in images %}
                    <form method="post">
                        {{ render_field2(edit_image.id, class_="form-control", value=image[0]) }}
                        <tr>
                            <td>
                                <img src={{ image[2] }} alt="Gallery Image" width="100" height="100">
                            </td>
                            <td>
                                <div class="form-group">
                                    {% if image[3] %}
                                        {{ render_field2(edit_image.title, class_="form-control", value=image[3]) }}
                                    {% else %}
                                        {{ render_field2(edit_image.title, class_="form-control", placeholder="Image Title") }}
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    {% if image[4] %}
                                        {{ render_field2(edit_image.description, class_="form-control", value=image[4]) }}
                                    {% else %}
                                        {{ render_field2(edit_image.description, class_="form-control", placeholder= "Image Description") }}
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    {{ render_field2(edit_image.update_image, class_="form-control btn-warning") }}
                                </div>
                            </td>
                    </form>
                    <form method="post">
                        {{ render_field2(remove_image.id, class_="form-control", value=image[0]) }}
                        {{ render_field2(remove_image.filename, class_="form-control", value=image[1]) }}
                            <td>
                                <div class="form-group">
                                    {{ render_field2(remove_image.remove_image, class_="form-control btn-danger") }}
                                </div>
                            </td>
                        </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row mb-4">
            <h3>Add Image</h3>
        </div>
        <form action="{{url_for('uploader')}}" method="post" class="text-center" enctype="multipart/form-data">
            <input type="file" name="file" class="mt-2"/>
            <input type="submit" class="btn btn-lb btn-warning mt-2"/>
        </form>
    </div>
</div>

{% endblock %}