<!-- Include Base Template -->
{% extends 'base.html' %}

<!-- Title Block -->
{% block title %}
FHSU Astronomy Club | Events
{% endblock %}

<!-- Main Content -->
{% block content %}
<body>
    <div class="container-fluid">
        <div class="p-5 bg-dark bg-gradient border border-warning rounded-3 text-center text-white mb-5">
            <h2 class="border border-warning rounded-3 p-3 mb-5">Astronomy Club Picture Gallery</h2> 
            <!-- <p class="tiger-gold">Click on the images below to get more information.</p> -->

            <div class="d-flex flex-column flex-lg-row flex-wrap justify-content-center mt-4">
                
                    {% for image in images %}
                    <div class="flex-even m-lg-5 mb-5">
                        <div class="card bg-dark border-warning h-100">
                            <img src="{{image[2]}}" class="card-img-top" alt="{{image[4]}}">
                            {% if image[3] != None and image[4] != None %}
                                <div class="card-body d-flex flex-column">
                                    {% if image[3] != None %}
                                        <h5 class="card-title mt-auto">{{image[3]}}</h5>
                                    {% endif %}
                                    {% if image[4] != None %}
                                        <p>{{image[4]}}</p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}