<!-- Including Base Template -->
{% extends 'base.html' %}

<!-- Title Specifier -->
{% block title %}
    FHSU Astronomy Club | Login
{% endblock %}

<!-- Main Page Content -->
{% block content %}
<div class="container-fluid">
    <div class="p-5 bg-dark bg-gradient border border-warning rounded-3 text-center text-white">
        <div class="row mb-5">
            <h2>Admin Login</h2>
        </div>
        {% from "_formhelpers.html" import render_field %}
        <form method="POST">
            <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                <div class="flex-login mb-4">
                    <div class="form-group">
                        {{ render_field(form.username, class_="form-control") }}
                    </div>
                </div>
                <div class="flex-login mb-4">
                    <div class="form-group">
                        {{ render_field(form.password, class_="form-control") }}
                    </div>
                </div>
            </div>
            <input class="btn btn-lg btn-warning mt-2 flex-login" type="submit" value="Submit"></button>
        </form>
    </div>
</div>

{% endblock %}