<!-- Include Base Template -->
{% extends 'base.html' %}

<!-- Title Block -->
{% block title %}
FHSU Astronomy Club | Officer Manager
{% endblock %}

<!-- Main Content -->
{% block content %}
<div class="container-fluid">
    <div class="p-5 bg-dark bg-gradient border border-warning rounded-3 text-center text-white mb-5">
        <div class="row mb-5">
            <h2>Officer Manager</h2>
        </div>
        <div class="table-responsive mb-5">
            {% from "_formhelpers2.html" import render_field2 %}
            <table class="table table-dark">
                <thead>
                    <th scope="col">Username</th>
                    <th scope="col">New Password</th>
                    <th scope="col">Confirm Password</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    <!-- For Officer in Officers Table -->
                    <!-- Form with each value as default -->
                    <!-- Submit Button and Delete Button -->
                    {% for officer in officers %}
                        <form method="post" id="officer-{{officer[0]}}">
                            {{ render_field2(edit.id, class_="form-control", value=officer[0]) }}
                            <tr class="mt-2">
                                <td>
                                    <div class="form-group">
                                        {{ render_field2(edit.username, class_="form-control", value=officer[1]) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        {{ render_field2(edit.password, class_="form-control", value=officer[2]) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        {{ render_field2(edit.confirm, class_="form-control", value=officer[2]) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        {{ render_field2(edit.update_user, class_="form-control btn btn-sm btn-warning") }}
                                    </div>
                                </td>
                        </form>
                        <form method="post">
                                {{ render_field2(remove.id, class="_form-control", value = officer[0])}}
                                <td>
                                    <div class="form-group">
                                        {{ render_field2(remove.remove_user, class_="form-control btn btn-sm btn-danger") }}
                                    </div>
                                </td>
                            </tr>
                        </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        {% from "_formhelpers.html" import render_field %}
        <div class="row mb-4">
            <h3>Add Officer</h3>
        </div>
        <form method="post">
            <div class="row mb-4">
                <div class="col">
                    <div class="form-group">
                        {{ render_field(add.username, class_="form-control") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ render_field(add.password, class_="form-control") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ render_field(add.confirm, class_="form-control") }}
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4 offset-4">
                    <div class="form-group">
                        {{ render_field2(add.add_member, class_="form-control btn btn-warning") }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}